/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

html {
  border: 20px solid #0a0d47;
  box-sizing: border-box;
  height: 100%;
}

body {
  background: tan;
}

.App {
  text-align: center;
  padding-top: 50px;
  width: 100%;
}

h3 {
  text-align: center;
}

.friend-contianer {
  border: 10px solid teal;
  opacity: .7;
  width: 350px;
  margin: 20px 10px;
}

.friendList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

button {
  height: 50px;
  width: 150px;
  font-size: 18px;
  margin: 10px;
  color: firebrick;
}

.addFriend-button {
  display: block;
  margin: auto;
  margin-top: 25px;
}

.af-input {

  margin-top: 5px;
  margin-bottom: 5px;
  width: 150px;
}

.af-form {
  display: flex;
  flex-direction: column;
  align-items: center;

}